<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="APITests">
        <listeners>
            <listener class-name="io.qameta.allure.testng.AllureTestNg" />
        </listeners>
        <test name="test">
            <classes>
                <class name="tests.PositiveTests" />
                <class name="tests.CreateUserWithDynamicDataTests" />
                <class name="tests.NegativeTests" />
                <class name="tests.PositiveCasesWithDataProviderTests" />
                <class name="tests.MockedUserTests" />


            </classes>
        </test>


</suite>