name: API Automation CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Install Maven dependencies
        run: mvn install

      - name: Run API tests
        run: mvn test

      - name: Archive test reports
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: test-reports
          path: target/surefire-reports/

#      - name: Send email with report
#        uses: dawidd6/action-send-mail@v3
#        with:
#              server_address: smtp.gmail.com
#              server_port: 587
#              username: ${{ secrets.SMTP_USERNAME }}
#              password: ${{ secrets.SMTP_PASSWORD }}
#              subject: "API Automation Test Report"
#              body: "Hello,\n\nThe latest test report is attached.\n\nThanks,\nGitHub Actions"
#              to: asmahassan605@gmail.com
#              from: asmahassan605@gmail.com
#              attachments: target/surefire-reports/*
